.text-class-1{font-family:arial;
font-size:16px;
}
.text-class-2{color:#202020;
font-family:arial;
font-weight:bold;
font-style:italic;
font-size:16px;
}
.text-class-3{color:#202020;
}
.text-class-4{font-family:arial;
}
.text-class-5{color:#ffffff;
font-family:trebuchet ms;
font-size:18px;
}
.text-class-6{color:#ed1c24;
font-family:arial;
font-size:18px;
}
.text-class-7{font-size:16px;
}
.text-class-8{color:#ed1c24;
font-family:arial;
font-size:16px;
}
.text-class-9{color:#ed1c24;
}
.text-class-10{font-weight:bold;
font-style:italic;
}
.text-class-11{color:#202020;
font-family:arial;
font-size:16px;
}
.text-class-12{font-weight:bold;
}
.text-class-13{font-style:italic;
}
.text-class-14{color:#202020;
font-family:arial;
}
.text-class-15{font-style:italic;
font-size:16px;
}
.text-class-16{font-weight:bold;
font-size:18px;
}
.text-class-17{color:#ed1c24;
font-family:arial;
font-weight:bold;
font-size:18px;
}
.text-class-18{color:#ed1c24;
font-size:24px;
}
.text-class-19{color:#ed1c24;
font-family:arial;
font-weight:bold;
font-size:24px;
}
.text-class-20{color:#ed1c24;
font-family:arial;
font-size:24px;
}
.text-class-21{color:#202020;
font-family:arial;
font-weight:bold;
font-size:18px;
}
.text-class-22{font-family:arial;
font-size:13px;
}
.text-class-23{font-family:arial;
font-weight:bold;
font-size:16px;
}
.text-class-24{font-family:arial;
font-size:18px;
}
.text-class-25{color:#202020;
font-family:arial;
font-size:13px;
}
.text-class-26{color:#202020;
font-family:arial;
font-weight:bold;
font-size:16px;
}
.text-class-27{font-size:13px;
}
.text-class-28{font-size:18px;
}
.text-class-29{color:#202020;
font-size:13px;
}
.text-class-30{color:#404040;
font-family:arial;
font-size:13px;
}
.text-class-31{color:#404040;
}
.text-class-32{color:#ed1c24;
font-family:trebuchet ms;
font-weight:bold;
font-size:24px;
}
.text-class-33{color:#ed1c24;
font-weight:bold;
font-size:24px;
}
.text-class-34{color:#202020;
font-family:trebuchet ms;
font-size:24px;
}
